In [9]:
import pandas as pd
import logging

from numpy.f2py.crackfortran import externalpattern

In [10]:
logging.basicConfig(filename='task3.log', level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [11]:
data = {
    'product': ['Laptop', 'Mouse', 'Keyboard'],
    'price': [70000, 500, 1200],
    'quantity': [2, 5, 3]
}

In [13]:
df=pd.DataFrame(data)

try:
    df.to_csv("sales.csv",index=False)
except FileExistsError as e:
    print(e)
    logging.warning("sales.csv already exists")
logging.info("Data saved csv created")

In [14]:
try:
    a=pd.read_csv("sales.csv")
    logging.info("read csv successfully")
except FileNotFoundError as e:
    print(e)
    logging.error("File not found")

In [15]:
try:
    a["total_sales"]=a["price"]*a["quantity"]
except ValueError as e:
    print(e)
    logging.error("Value error needs numeric values")

In [16]:
a.head()

    product  price  quantity  total_sales
0    Laptop  70000         2       140000
1     Mouse    500         5         2500
2  Keyboard   1200         3         3600

In [19]:
for index,row in a.iterrows():
    logging.info(f"{row['product']}--{row['total_sales']}")